@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #ffffff;
}
*, *:before, *:after {
            box-sizing: border-box;
}

.top-nav{
    color: white;
    text-align: center;
    color: #545454;
}
.top-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: -1px;

}
.top-nav a{
    color: #545454;
    text-decoration: none;
    padding: 1em;
    display: block;
    transition: color 1s;
}
.top-nav a:hover{
    background: #55dda9;
    color: #ffffff;
}

.portfolio{
    margin: 4% 4% 4% 4%;
    float: left;
    width: 100%;
    padding-top: 30px;
}
.portfolio img{
    float: right;
    height: 400px;
    margin-right: 50px;
    position: static;
    max-width: 550px;   /* Máximo da largura da imagem */
    width: 100%;
    max-height: 400px;  /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */

}
.portfolio h1{
    font-family: 'Anton', sans-serif;
    font-size: 65px;
    color: #545454;
    font-weight: bolder;
}
.portfolio p{
    font-size: 20px;
    line-height: 27px;
    color: #95969a;
    font-family: 'Montserrat', sans-serif;
}

button.homebutton {
    font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #ffffff;
    padding: 9px 20px;
    margin-top: 5px;
	background: #55dda9;
	border-radius: 6px;
	border: 2px solid #55dda9;
    box-shadow: 3px 3px #8b8a8a;
}
.homeh1eventos p{
    padding-top: 75px;
    text-align: center;
    width: 100%;
    font-family: 'Anton', sans-serif;
    font-size: 45px;
    color: #545454;
    font-weight: bold;
}

.homeeventos
{
    width: 100%;
    left: 100px;
    bottom: 170px;
    text-align: center;
}
.homeeventos1{
    width: 31%;
    float: left;
    text-align: center;
    margin: 1% 1% 1% 1%; 
}
.homeeventos1 img{
    max-width: 250px;   /* Máximo da largura da imagem */
    width: 100%;
    max-height: 400px;  /* Máximo da altura da imagem */
    min-height: auto;      /* Mínimo da altura, por padrão “auto” */
}
.homeeventos_title{
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    color: #545454;
}
.homeeventos_text{
    letter-spacing: 0px;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #95969a;
}

@media screen and (min-width: 48.75em){
    
    .logo{
        position: absolute;
        left: 15px;
        padding: 15px;
        margin-left: 25px;
    }

    .top-nav{
        background: transparent;
        float: right;
        margin-top: 25px;
    }
    
    .top-nav ul{
        margin: 0; 
        padding: 0;    
    }
    .top-nav li{
        display: inline-block;
    }
    .top-nav a{
        color: #545454;
        transition: color 1s;
    }
    .top-nav a:hover{
        color: #ffffff;
        background: #55dda9;
    }
} 

.contato  {
width: 100%;
height: auto;
float: left;
padding-top: 80px;
margin-left: 40px;
}

.contato h1 {
    text-align: left;
    color: #545454;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}
.contato h2 {
    font-family: 'Montserrat', sans-serif;
    color: #545454;
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
}
.contato button {
    font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color: #ffffff;
    padding: 9px 20px;
    margin-top: 25px;
	background: #55dda9;
	border-radius: 6px;
	border: 2px solid #55dda9;
	box-shadow:
		6px 12px 0px rgba(85,221,169,0),
		inset 0px 0px 2px rgba(85,221,169,1);
	text-shadow:
		0px 12px 0px rgba(255,255,255,0),
		0px 1px 0px rgba(255,255,255,0);
}
.contato form {
    padding-top: 5px;
    margin-top: 1em;
    font-size: 15px;
}
.contato label {
    display: inline-block;
    width: 90px;
    text-align: left;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.contato input, textarea {
    width: 500px;
    box-sizing: border-box;
    margin-left: 12px;
    border: 1px solid #999;
    border-radius: 5px;
    margin-top: 10px;
    
}
#msg  {
    vertical-align: top;
    height: 5em; 
    resize: vertical;
    margin-left: 12px;
    margin-top: 10px;
}

.contato input:focus, textarea:focus {
    /* Dar um pouco de destaque nos elementos ativos */
    border-color: #000;
}

.transform {
    height: 10px;
    width: 100%;
    margin-bottom: 70px;

  }
  .transform img {
    height: 200px;
margin-left: 60px;
    transform:scale(0.7);
  }
  .transform:hover{
transform:scale(1.1) translate(20px, 20px);
padding-bottom: 50px;
}

.eventos  {
    width: 100%;
    float: left;
    padding-top: 80px;
    margin-left: 40px;
    }
.eventos img {
align-items: center;
display: block;
margin-left: auto;
margin-right: auto;
height: 220px;
max-width: 600px;   /* Máximo da largura da imagem */
width: 100%;
max-height: 250px;  /* Máximo da altura da imagem */
min-height: auto;      /* Mínimo da altura, por padrão “auto” */
}

.eventos h1{
    text-align: left;
    color: #545454;
    font-family: 'Playfair Display', serif;
    font-size: 60px;

}

.eventos h2{
    padding-top: 25px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
.eventos h3 {
    font-family: 'Courier New', Courier, monospace;
font-size: 14px;
color: #95969a;
font-weight: lighter;
}

.eventos p {
    color: #545454;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 19px;
    margin-right: 100px;
    line-height: 1.4;
    letter-spacing: -1px;
    text-align: justify;

}

.rodape p{
    width: 100%;
    height: 35px;
    position: relative;
    background: #55dda9;
    float: left;
    padding: 15px;
    margin: 0px;
    margin-top: 100px;
    padding-left: 45px;
    color: #545454;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
}
